%h2#title
  Finsök

#filter
  - semantic_form_for(:filter, :controller => "plaggs", :action => "index") do |f|
    = render :partial => "shared/filter", :locals => { :f => f, :tags  => @tags, :sizes => @sizes, :sel_tags => @sel_tags, :sel_sizes  => @sel_sizes, :location => @location, :brand=> @brand }

%p.per_page
  = link_to("8",  plaggs_path(:per_page => 8)) + ","
  = link_to("16", plaggs_path(:per_page => 16)) + ","
  = link_to("24", plaggs_path(:per_page => 24))
  per page

#plaggs
  = render @plaggs

= will_paginate @plaggs

- content_for :breadcrumb_trail do
  = link_to "Home", plaggs_path, :class => "last"