Hi #{@recipient_username},

\#{@sender_username} wants to trade you #{pluralize(@offering_count, "plagg")} for your #{@plagg_title}.

Find out more at your notifications page: #{notifications_url(:only_path => false)}

\-The Plaggs Crew