!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=iso-8859-1", "http-equiv" => "Content-Type"}/
    %title Plaggs - Password Reminder
    
  %body
    %table{:border => "0", :width => "600"}
      %tr
        %td
  %body
    %p
      %b
        Dear #{@username},
    %p
      As requested your password is #{@password}. If anyone else uses this computer then please delete this email once you have successfully logged in again.
    %p
      Please click on the following link to update your new password.
      %br/
      %br/
      %a{:href => "http://172.20.1.21:4005/sessions/active_new_password/#{@id}?value=#{@password}&alias=#{@token}"} http://172.20.1.21:4005/sessions/active_new_password
      %br/
      %br/
    %p
      Your new password is: #{@password}
    %p
      Your Username is : #{@username}