= error_messages_for :post

- f.inputs do
  = f.input :title
  = f.input :content, :input_html => { :rows => 10 }
  = f.input :image
  = f.input :image_2
  = f.input :image_3
  = f.input :body, :label => "video"